# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\proJ\nevel\nevelManager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
